.App {
  background-color: rgb(165, 153, 153);
  text-align: center;
  
}
.menu{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.foodContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.foodContainer div{
  padding: 0;
}