.home {
  display: grid;
  background: radial-gradient(circle, rgba(245, 240, 213, 1) 0%, rgba(38, 115, 42, 1) 100%);
  text-align: center;
  color: white;
  
  margin: 0;
  padding: 0;
  
}
.menu{
  background-color: rgb(34, 29, 29);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 80vh;
  gap: 5px;
  place-items: center;
  width: 95vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0;
}

.foodContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1vw;
}

.foodContainer div{
  background-color: rgb(3, 3, 3);
  width: 20vw;
  padding-top: 2.5vh;
  border: rgb(197, 193, 193) solid 5px;
}