html{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.home {
  display: grid;
  margin: 0;
  padding: 0;

  background: radial-gradient(
    circle,
    rgba(245, 240, 213, 1) 0%,
    rgba(38, 115, 42, 1) 100%
  );
  place-items: center;
  text-align: center;
  color: white;
}

.menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 5px;

  width: 95vw;
  height: 100vh;
  margin: 0 2vw;

  background-color: rgb(34, 29, 29);
}

.foodContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  height: auto;
  gap: 1vw;
  padding: 0;
  margin-left: 20px;
}


#label{
  font-weight: bolder;
  font-size: 1.25em;
}
html::-webkit-scrollbar {
  display: none;
}