html{
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.home {
  display: grid;
  margin: 0;
  padding: 0;

  background: radial-gradient(
    circle,
    rgba(245, 240, 213, 1) 0%,
    rgba(38, 115, 42, 1) 100%
  );
  place-items: center;
  text-align: center;
  color: white;
}


html::-webkit-scrollbar {
  display: none;
}