.aboutUs{
  display: grid;
  grid-template-columns: 40% auto;
  background-color: rgb(34, 29, 29);;
  height: 50vh;
  width: 85vw;
  margin: 3vh 0;
}

.aboutUs img{
  width: 30vw;
  height: 40vh;
}

.aboutUs div{
  float: right;
}