.aboutUs{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(34, 29, 29);;
  place-items: center;
  height: 50vh;
  width: 70vw;
  margin: 3vh 0;
}

.aboutUs img{
  width: 30vw;
  height: 40vh;
  float: left;
  margin: 2vh 1vw 0 1vw;
}