.contactUsPage{
  background-color: gray;
  display: grid;
  grid-template-rows: repeat(4, auto);
  width: 80vw;
  height: 50vh;
  margin: 2vh 0;
}
.contactUsPage fieldset{
  display: grid;
  grid-template-columns: repeat(2, auto);
}