.menu {
  display: grid;
  grid-template-rows: 0.25fr 0.25fr 1fr;
  place-items: center;
  gap: 5px;

  width: 96vw;
  height: auto;
  margin: 0 2vw;

  background-color: rgb(34, 29, 29);
}

.foodContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  height: auto;
  gap: 1vw;
  padding: 0;
}


#label{
  font-weight: bolder;
  font-size: 1.25em;
}

/* @media only screen and (max-width 1440px){
  .menu{
    height: auto;
  }
} */