.menu {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: 5px;

  width: 96vw;
  height: 100vh;
  margin: 0 2vw;

  background-color: rgb(34, 29, 29);
}

.foodContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  height: auto;
  gap: 1vw;
  padding: 0;
}


#label{
  font-weight: bolder;
  font-size: 1.25em;
}