.navbar{
  display: grid;
  grid-template-columns: 25% 75%;
}
.wholeMavBar{
  float: right;
}

.logoImage img{
  height: 20vh;
  width: 10vw;
  object-fit: fill;
  object-position: center;
}

ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 10;
}
li a{
  font-size: 2em;
  text-align: center;
  padding: 14px 16px;
}