.navbar{
  display: grid;
  grid-template-columns: 25% 50%;
}
.wholeMavBar{
  float: right;
}
.logoImage{
  width: 50vw;
  overflow: hidden;
}
.logoImage img{
  height: 20vh;
  width: 10vw;
  object-fit: fill;
  object-position: center;
}
