.navbar{
  display: grid;
  grid-template-columns: 25% 75%;
}
.wholeMavBar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  float: right;
}

.logoImage img{
  height: 20vh;
  width: 10vw;
  object-fit: fill;
  object-position: center;
}

ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}