.navbar{
  display: grid;
  grid-template-columns: 25% 25%;
}

.logoImage{
  width: 50vw;
  overflow: hidden;
}
.logoImage img{
  height: 20vh;
  width: 10vw;
  object-fit: fill;
  object-position: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  height: 20vh;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}