.navbar{
  background-color: rgb(34, 29, 29);
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100vw;
  height: 25vh;
  padding-top: 5vh;
}
.wholeNavBar{
  height: 10vh;
}

.logoImage img{
  height: 20vh;
  width: 25vw;
  object-fit: fill;
  object-position: center;
}

ul{
  align-items: center;
  list-style-type: none;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 75/4);
  margin-top: 6vh;
}
ul li a{
  padding: none;
  font-size: 2em;
  text-align: center;
  padding: 14px 16px;
}
ul li{
  padding: none;
}
.nav-link {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #c1c7cf;
}
.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}