.descriptionContainer{
  display: block;
  width: 20vw;
  height: auto;
  min-height: 650px;
  padding-top: 2.5vh;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-color: rgb(3, 3, 3);
  border: 5px solid rgb(197, 193, 193);
  padding: 0 1vw;
  margin-bottom: 50px ;
  margin-top: 10px ;
}
.descriptionContainer.isExpand{
  min-height: 720px;
}
.descriptionContainer img{
  width: 20%;
  height: 20%;
  border-radius: 20px;
}
.list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.list li{
  height: auto;
  width: 70%;
}

.btnShowMore{
  background-color: rgb(19, 77, 19);
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 5vh;
  width: 8vw;
  border-radius: 50px ;
  color: white
}

