.reservationForm{
  width: 80vw;
}


form{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  color: black;
}

button{
  width: 20vw;
  height: 20vh;
}
.form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input,
.form select,
.form textarea {
  padding: 10px;
  font-size: 1rem;
}