.reservationForm{
  width: 80vw;
  place-items: center;
}


.form{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  color: black;
}

.form fieldset{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  background-color: rgb(21, 85, 16);
  width: 20vw;
}
.form fieldset label{
  font-size: 2em;
}
button{
  width: 20vw;
  height: 20vh;
}
