.reservationForm{
  width: 80vw;
}


.form{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  color: black;
}

.form fieldset{
  background-color: rgb(163, 255, 154);
}
button{
  width: 20vw;
  height: 20vh;
}
