.reservationForm{
  width: 80vw;
  place-items: center;
  background-color: rgb(34, 29, 29);
  margin: 3vh 0;
  height: auto;
}


.form{
  display: grid;
  grid-template-rows: repeat(7, auto);
  color: black;
}

.form fieldset{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  background-color: rgb(21, 85, 16);
  width: 50vw;
  height: 8vh;
}

.form fieldset label{
  font-size: 2em;
}
button{
  width: 20vw;
  height: 20vh;
  margin: 0 20vw;
}

