.containerMain{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.containerMain div{
  text-align: center;
  width: 45vw;
  height: 50vh;
  margin: 5px;
}
.containerMain div h1{
  margin: auto;
}
