.containerMain{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.containerMain div{
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  text-align: center;
  width: 45vw;
  height: 50vh;
  margin: 10px;
}
