.containerMain{
  display: grid;
  background-color: rgb(34, 29, 29);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
}

.containerMain div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45vw;
  height: 50vh;
  margin: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 3px solid black;
}
.containerMain a{
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
}
.containerMain div h1:hover{
  background-color: black;
}
.containerMain a:hover{
  opacity: 0.5;
}



